<form novalidate [ngrxFormState]="form$ | async">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="House Name" [ngrxFormControlState]="(form$ | async).controls.houseName" />
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Address Line 1:" [ngrxFormControlState]="(form$ | async).controls.line1" />
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Address Line 2:" [ngrxFormControlState]="(form$ | async).controls.line2" />
  </mat-form-field>

<mat-form-field class="example-full-width">
    <input matInput placeholder="Postcode" [ngrxFormControlState]="(form$ | async).controls.postcode" />
  </mat-form-field>
  <!-- <mat-error *ngIf="(form$ | async).errors._line1?._min?.required">
      A password is required
    </mat-error>
    <mat-error *ngIf="!(form$ | async).errors._password?._password?.required && (form$ | async).errors._password?._password?.minLength">
      Must be at least {{ (form$ | async).errors._password._password.minLength.minLength }} characters long
    </mat-error> -->
  <button
    mat-raised-button
    color="secondary"
    (click)="back()">
    Back
  </button>

  <button
    mat-raised-button
    color="primary"
    (click)="submit()"
    [disabled]="!(isValid$ | async)">
    Next
  </button>
</form>