<form novalidate [ngrxFormState]="form$ | async">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Email Address" [ngrxFormControlState]="(form$ | async).controls.email.controls.email" />
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Confirm Email Address"  [ngrxFormControlState]="(form$ | async).controls.email.controls.confirmEmail" />
  </mat-form-field>

  <button
    mat-raised-button
    color="secondary"
    (click)="back()"
  >
    Back
  </button>

  <button
    mat-raised-button
    color="primary"
    (click)="submit()"
    [disabled]="!(isValid$ | async)">Next</button>
</form>